@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@font-face {
    font-family: 'Proxima Nova Bl';
    src: url('../fonts/ProximaNova-Bold.woff2') format('woff2'),
        url('../fonts/ProximaNova-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('../fonts/ProximaNova-Regular.woff2') format('woff2'),
        url('../fonts/ProximaNova-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Proxima Nova Lt';
    src: url('../fonts/ProximaNova-Light.woff2') format('woff2'),
        url('../fonts/ProximaNova-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

* {
	font-family: 'Proxima Nova Lt';
}
html, body {
    height: 100%;
}
h1, h2, h3 {
    font-family: 'Proxima Nova Bl';
}
h4, h5 {
    font-family: 'Proxima Nova Bl';
}
p, a, span, li, div {
	font-family: 'Proxima Nova Lt';
}

/*menu/nav*/
.navbar {
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.062);
}
.logo {
	width: 130px;
}
.menu-item {
	display: flex;
	justify-content: flex-end;
}
.top-navbar {
	background-color: white !important;
	border-bottom: 1px solid rgba(0,0,0,.125);
}
.top-navbar .container {
	height: 66px;
}
.nav-link, .dropdown-item {
	font-weight: 200;
}
.avatar {
	height: 45px;
	width: 45px;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

/*search*/
.search {
	width: 300px;
}
.input-search {
	flex: 1 !important;
	border: 1px solid rgba(0,0,0,.125);
	border-right: 0 !important;
	border-top-left-radius: 20px !important;
	border-bottom-left-radius: 20px !important;
}
.button-search {
	border: 1px solid rgba(0,0,0,.125);
	border-left: 0 !important;
	border-top-right-radius: 20px !important;
	border-bottom-right-radius: 20px !important;
}

/*banner*/
.banner {
	background-image: url('../assets/banner-3.jpg');
	background-size: 100%;
	background-position: 0 0px;
	border-radius: 0;
	height: 400px;
}
.subjects {
	background-color: #0C79E2;
}
.btn-subject {
	border-radius: 0;
}
.total {
	color: #0C79E2;
}
.plan-list {
	list-style-type: none;
	padding: 0;
}
.banner h1 {
	font-weight: 400;
}
.banner p {
	font-size: 20px;
}
.banner a {
	font-size: 20px;
}
.jump-to-thecourses {
	line-height: 10px;
	text-decoration: none;
}

/*breadcrumb*/
.breadcrumb {
	background-image: #EFEFEF;
	border-radius: 0;
}

/*home*/
.content {
	position: relative;
}
.card a {
	text-decoration: none;
}
.card a h3, .card a p, .card a .times span {
	color: #495057;
	text-decoration: none;
}
.badge {
	font-weight: normal;
}
.post-title {
	color: #495057;
}
.post-thumb {
	float: left;
}
.tech-item {
	width: 100%;
	height: 200px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.tech-icon svg {
	font-size: 220px;
	vertical-align: -0.9em !important;
}
.tech-label {
	text-align: center;
}
.circle {
	width: 100px;
	height: 100px;
	border-radius: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 3px solid #E67E22;
	font-size: 50px;
}
.search-input {
	width: 650px;
}
.search-input input, .search-input-2 input {
	border-top-left-radius: 100px !important;
	border-bottom-left-radius: 100px !important;
}
.search-input .btn, .search-input-2 .btn {
	border: 1px solid #ced4da;
	border-left: 0;
	border-top-right-radius: 100px !important;
	border-bottom-right-radius: 100px !important;
}

/*classroom*/
.list-contents .card-body {
	overflow: auto;
}
.video-item {
	padding: 10px 0;
	border: 0;
	display: flex;
	align-items: center;
}
.play-icon {
	vertical-align: middle;
}
.title-lesson {
	cursor: pointer;
	font-weight: bold;
}
.video-play .card {
	border-radius: 0;
	border: 0;
}
.media-play {
	height: 550px;
	border-radius: 0;
}
.media-play .card-body {
	background: black;
}
.about-course {
	border-radius: 0;
}
.sidebar {
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 99;
}
.sidebar-stick {
	height: 100%;
}
.main {
	position: relative;
}
.list-contents {
	height: 100%;
	border-radius: 0;
	border-top: 0;
}
.classroom-header {
	height: 60px;
	border-bottom: 1px solid rgba(0,0,0,.125) !important;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 98;
}
.classroom-content {
	margin-top: 59px !important;
}
.classroom-content .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
	color: #61ae2f !important;
	background-color: transparent;
}
.classroom-lesson .list-group-item {
	background-color: transparent;
}
.list-video .list-group-item {
}
.list-video-icon {
	width: 25px;
}
.list-video-title {
	flex: 1;
}
.list-video .playing .list-video-title {
	font-weight: 400;
}
.play-title {
	font-weight: 400;
}
.section {
	cursor: pointer;
}
.classroom-title {
	font-weight: 400;
}
.video-play-container {
	height: 520px;
	background: #333333;
}

/* catalog */
.title-attrs {
	font-size: 18px;
}
.course-title {
	font-size: 16px;
	font-weight: bold;
}
.card-group-top {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	border-bottom: 0;
}
.card-group-bottom {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-top: 0;
}

/*search*/
.search-attrs .list-group-item {
	border: 0;
	background: transparent;
	padding-top: 0;
	padding-bottom: 0;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
	background-color: #74c042;
}
.custom-radio .custom-control-input:checked ~ .custom-control-label::before {
	background-color: #74c042;
}
.search-attrs .list-group-item {
	padding-left: 0;
	padding-right: 0;
}
.list-search-attrs label:hover {
	cursor: pointer;
}
.btn-search {
	border-top: 1px solid #ced4da;
	border-right: 1px solid #ced4da;
	border-bottom: 1px solid #ced4da;
}
.post-container {
	cursor: pointer;
	position: relative;
}

/*form signin/login*/

/* Footer */

/*custom bootstrap*/
.dropdown-toggle::after {
	margin-left: 0;
}
.dropdown .btn-outline-secondary {
	background: transparent !important;
	color: #6c757d !important;
}

/* Auth */
.auth-container {
	background-image: url(../assets/banner-blur.jpg);
	background-size: cover;
	height: 100%;
}
.overlay-nav {
	position: fixed;
	top: 0; width: 100%;
	z-index: 99;
}
.overlay-footer {
	position: fixed;
	bottom: 0; width: 100%;
	z-index: 99;
}
